#navbar-itens {
    display: flex;
    flex-direction: column;
    height: 120px;
}


img {
    width: 100%;
    margin: auto;

 }

main {
    display: flex;
    flex-direction:column;
    margin: 200px auto;

}


h2 {
color: bisque;
   font-size: 15px;
}

span {
    font-size: 18px;
}

p {
    font-size:15px;
    margin-top: 13px;
}

footer {
    font-size: 13px;
}

.social-media {
   
    display: flex;
    flex-direction: column;
    
  }
  